.p-toast.p-toast-top-right {
    z-index: 1000;
    top: 7rem;
}

.layout-sidebar{
    padding: 5px;
}
.layout-menu li a{
    padding: 0.75rem .4rem;
}
.layout-menu li ul ul{
    padding-left: 0rem;
}